<div class="contenedor">
    <img class="logoDescarga" src="assets/img/UI_img_title.png">
    <p class="titulo">Vive una experiencia virtual asombrosa, llena de naturaleza y arte.</p>
    <img class="logoEmocionante" src="assets/img/UI_img_screens.png">
    </div>

<div class="contenedorDescarga">
        <!-- <img src="assets/img/UI_btn_appstore.png" class="botonDescarga">
        <img src="assets/img/UI_btn_playstore.png" class="botonDescarga"> -->
        <img src="assets/img/UI_btn_windows.png" class="botonDescarga">
    </div>
    


    